{% extends "app_second/components/base.html" %}
{% load static %}

{% block navbar %}
    {% include 'app_second/components/navbar.html' %}
{% endblock navbar %}

{% block main %}
<main class="flex-shrink-0 bg-light">
    <div class="container-fluid">
        <div class="container">
            <div class="container-fluid">
                <div class="text-center">
                    <div class="col-lg-6 mx-auto">
                        ДОМАШНЯЯ СТРАНИЦА
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock main %}

{% block footer %}
    {% include 'app_second/components/footer.html' %}
{% endblock footer %}